<!DOCTYPE html>
<html>
<head>
    <title>Login page</title>

    <style type="text/css">

    body {
     background-color:#d0e4fe;
    }

    body {
    font-family: arial, sans-serif;
    font-size: 100%;
     }

    h1  {
    text-decoration:chartreuse;
    color: blue;
     }

    </style>

</head>
<body>


<img src= "/images/butter/rama-new.jpeg" width="142" height="40" style="float:left"/>
<br>
<br>
<h1>Demo Rama Shop:
    <span style="color: red"> No point hacking ; )
</span> </h1>



<ul>
    <li>Demo of Some HTML/CSS skills</li>
    <li>Demo of Cookies and Session Maintanance</li>
    <li>Demo of Some Coding/db Skill</li>
    <li>Demo of Other Webapp concepts</li>
</ul>


<form method="post">
    <label>Registration Form</label>

    <div class="error">{{error1}}</div>

    <br>

    <label>UserName</label>
    <input type="text" name="userid" value="{{userid}}">
    <br>
    <div class="error">{{error2}}</div>
    <label>Password</label>
    <input type="password" name="pwd">
    <br>
    <label>Repeat Password</label>
    <input type="password" name="repeatpwd" >
    <br>
    <input type="submit" name="registerbutton" id="1">

    <br>
    <br>
    <label style="Red">AlreadyRegisterd?, then Login</label>

    <label>Login Form</label>
    <br>


    <div class="error">{{errorlogin}}</div>
    <label>UserName</label>
    <input type="text" name="userid-login">
    <br>
    <label>Password</label>
    <input type="password" name="pwd-login">
    <br>
    <input type="submit" name="loginbutton">

</form>

</body>
</html>