<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<form method="post">
    <label>Registration Form</label>

    <div class="error">{{error1}}</div>
    <br>
    <br>
    <br>

    <label>UserName</label>
    <input type="text" name="userid" value="{{userid}}">
    <br>
    <div class="error">{{error2}}</div>
    <label>Password</label>
    <input type="password" name="pwd">
    <br>
    <label>Repeat Password</label>
    <input type="password" name="repeatpwd" >
    <br>
    <input type="submit" name="registerbutton" value='1'>

    <label>Login Form</label>
    <br>
    <a href='http://localhost:8080/register'>Not registered yet ? Sign up </a>
    <br>
    <br>
    <div class="error">{{error}}</div>
    <label>UserName</label>
    <input type="text" name="userid" value="{{userid}}">
    <br>
    <label>Password</label>
    <input type="password" name="pwd">
    <br>
    <input type="submit" name="loginbutton" value="2">

</form>

</body>
</html>